{{define "/about"}}
{{template "_head" .}}
{{template "_header" .}}
<main id="page" hx-swap-oob="true" class="hero">
  <article class="about">
    <div>
      <custom-img-with-thumbnail width="{{.Props.About.Image.Width}}" height="{{.Props.About.Image.Height}}"
        src="{{.Props.About.Image.URL}}" thumbnail="{{.Props.About.Image.ThumbnailURL}}"></custom-img-with-thumbnail>
    </div>
    <p style="white-space: pre-wrap; margin: 0;">{{.Props.About.Bio}}</p>
  </article>
</main>
{{template "_tail"}}
{{end}}
