{{define "home"}}
{{template "head" .}}
{{template "header" .}}
<main id="page" hx-swap-oob="true" class="h-full">
  <div class="hero h-full">
    <nav hx-boost="true">
      <ul>
        <li>
          <a href="/about" hx-target="#page">about</a>
        </li>
        <li>
          <a href="/gallery" hx-target="#page">gallery</a>
        </li>
        <li>
          <a href="/contacts" hx-target="#page">contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</main>
{{template "tail"}}
{{end}}
