:root {
  --animation-duration: 100ms;
  --header-height: var(--text-5xl);
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 2.5rem;
  --text-3xl: 3rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4rem;
}

/*
  xs  0
  sm  576px
  md  768px
  lg  992px
  xl  1200px
  xxl 1400px
*/

body {
  color: white;
  background: var(--bg-url), black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  height: 100vh;
  height: 100dvh;

  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: all var(--animation-duration) ease-in-out;
  -webkit-user-drag: none;
  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

button {
  cursor: pointer;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Nausea Handwrite";
  src: url("/dist/assets/NauseaHandwriteRegular.ttf");
}

* {
  font-family: "Nausea Handwrite", sans-serif;
}

.text-xs {
  font-size: var(--text-xs);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-base {
  font-size: var(--text-base);
}
.text-md {
  font-size: var(--text-md);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}
.text-2xl {
  font-size: var(--text-2xl);
}
.text-3xl {
  font-size: var(--text-3xl);
}
.text-4xl {
  font-size: var(--text-4xl);
}
.text-5xl {
  font-size: var(--text-5xl);
}

.text-end {
  text-align: end;
}

.header {
  order: 0;
  font-size: var(--text-2xl);
  height: var(--header-height);
  width: max-content;
}

.header button {
  color: white;
  font-size: var(--text-2xl);
  outline: none;
  border: none;
  background: #0000;
}

.header__toggle {
  position: fixed;
  top: 20px;
  left: 20px;
}

.header__toggle--close {
  position: absolute;
  left: unset;
  right: 20px;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  transition: 200ms translate;
  translate: -100%;
  padding: 12px 12px;
}

.header__nav[aria-expanded] {
  translate: 0;
}

.header__nav-list > li:first-child {
  font-size: var(--text-3xl);
  margin-bottom: 25px;
}

@media screen and (min-width: 576px) {
  .header {
    font-size: var(--text-3xl);
    width: initial;
  }
  .header__nav {
    position: static;
    translate: 0;
    background: transparent;
  }

  .header__nav-list {
    display: flex;
    gap: 1rem;
  }
  .header__nav-list > li:first-child {
    flex-basis: 100%;
  }

  .header button,
  .header__nav--hide {
    display: none;
  }
}

.h-full {
  height: calc(100% - var(--header-height));
}

.hero {
  display: grid;
  place-items: center;
  text-align: center;
  font-size: var(--text-2xl);
  text-decoration: none;
}

.contacts__link {
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  .hero {
    font-size: var(--text-4xl);
  }
}
